// @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;800&display=swap');
html {
  scroll-behavior: smooth;
	box-sizing: border-box;

	// Font Antialiased (greyscale)
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: “liga” on;
	letter-spacing: -.01rem;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}