<section class="benefits">
	<div class="benefits__container">
		<div class="benefits__side" data-aos="fade-right" data-aos-delay="300">
			<img src="./assets/img.png" alt="" />
		</div>
		<div class="benefits__content">
			<div class="tag" data-aos="fade-left" data-aos-delay="300">
				<p class="tag__text">lorem ipsum</p>
			</div>
			<h3 class="default__title" data-aos="fade-left" data-aos-delay="300">Lorem ipsum dolor sit amet</h3>
			<p class="default__desc" data-aos="fade-left" data-aos-delay="300">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo minima voluptatem, architecto dolorem dicta voluptatibus officiis laudantium incidunt eum.
				Dolor.
			</p>

			<ul class="benefits__list">
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="300">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Lorem ipsum dolor sit amet.</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="400">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Lorem ipsum dolor sit amet.</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="500">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Lorem ipsum dolor sit amet.</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="600">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Lorem ipsum dolor sit amet.</p>
				</li>
			</ul>
			<div class="button--container" data-aos="fade-left" data-aos-delay="300">
				<a href="#" class="button">lorem ipsum</a>
			</div>
		</div>
	</div>
</section>
