<section class="contact">
	<div class="contact__container">
		<div class="tag">
			<p class="tag__text">Lorem ipsum</p>
		</div>
		<h3 class="default__title">Lorem ipsum dolor sit amet.</h3>
		<p class="default__desc">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque minus ipsa beatae suscipit, saepe aspernatur blanditiis fuga? Doloremque, quaerat commodi.
		</p>
		<form action="" class="contact__form">
			<div class="form-gap">
				<div class="input_wrap">
					<input type="text" required />
					<label><img src="./assets/person.svg" alt="" /> Nome</label>
				</div>
				<div class="input_wrap">
					<input type="email" required />
					<label><img src="./assets/mail.svg" alt="" /> E-mail</label>
				</div>
				<div class="input_wrap">
					<input type="tel" required />
					<label><img src="./assets/phone.svg" alt="" /> Telefone</label>
				</div>
			</div>
			<button type="submit" class="button">lorem ipsum</button>
		</form>
	</div>
</section>
