<section class="resources">
	<div class="resources__container">
		<div class="tag" data-aos="fade-down" data-aos-delay="300">
			<p class="tag__text">depoimentos</p>
		</div>
		<h2 class="default__title" data-aos="fade-down" data-aos-delay="300">Lorem ipsum dolor sit</h2>
		<p class="default__desc" data-aos="fade-down" data-aos-delay="300">Lorem ipsum dolor sit</p>

		<div class="resources__content">
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/star.svg" alt="" /></div>
				<p class="default__desc">Nullam sit amet magna sit amet risus accum san sagittis id vitae neque ut eget, dignissim.</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="400">
				<div class="card-resources__icon"><img src="./assets/star.svg" alt="" /></div>
				<p class="default__desc">Nullam sit amet magna sit amet risus accum san sagittis id vitae neque ut eget, dignissim.</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="500">
				<div class="card-resources__icon"><img src="./assets/star.svg" alt="" /></div>
				<p class="default__desc">Nullam sit amet magna sit amet risus accum san sagittis id vitae neque ut eget, dignissim.</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="600">
				<div class="card-resources__icon"><img src="./assets/star.svg" alt="" /></div>
				<p class="default__desc">Nullam sit amet magna sit amet risus accum san sagittis id vitae neque ut eget, dignissim.</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="700">
				<div class="card-resources__icon"><img src="./assets/star.svg" alt="" /></div>
				<p class="default__desc">Nullam sit amet magna sit amet risus accum san sagittis id vitae neque ut eget, dignissim.</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="800">
				<div class="card-resources__icon"><img src="./assets/star.svg" alt="" /></div>
				<p class="default__desc">Nullam sit amet magna sit amet risus accum san sagittis id vitae neque ut eget, dignissim.</p>
			</div>
		</div>
		<div class="button--container center" data-aos="fade-right" data-aos-delay="300"><a href="" class="button bigger">LOREM IPSUM</a></div>
	</div>
</section>
