<section class="testimonials">
	<div class="testimonials__container">
		<div class="tag">
			<p class="tag__text">lorem ipsum</p>
		</div>
		<h3 class="default__title">Lorem ipsum dolor sit.</h3>
		<p class="default__desc">Lorem ipsum dolor sit.</p>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem dicta deserunt facere sed minus tempore quidem omnis id officiis laboriosam!
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Fulano de Tal</p>
						<p class="avatar__desc">CEO da Empresa Tal</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem dicta deserunt facere sed minus tempore quidem omnis id officiis laboriosam!
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Fulano de Tal</p>
						<p class="avatar__desc">CEO da Empresa Tal</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem dicta deserunt facere sed minus tempore quidem omnis id officiis laboriosam!
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Fulano de Tal</p>
						<p class="avatar__desc">CEO da Empresa Tal</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button--container">
			<a href="#" class="button bigger">lorem ipsum</a>
		</div>
	</div>
</section>
