// variáveis de escala de cores formatadas através do scss
// escala verde
$verde-900:#266400;
$verde-800:#4E8505;
$verde-700:#639911;
$verde-600:#78AC1D;
$verde-500:#87BC25;
$verde-400:#99C64B;
$verde-300:#ACD06D;
$verde-200:#C4DD98;
$verde-100:#DCEBC0;
$verde-50:#F1F7E6;
////////////////////////
///// escala amarelo
$amarelo-900:#FF7000;
$amarelo-800:#FE9000;
$amarelo-700:#FDA100;
$amarelo-600:#FDB500;
$amarelo-500:#FCC300;
$amarelo-400:#FCCC1D;
$amarelo-300:#FCD64A;
$amarelo-200:#FDE180;
$amarelo-100:#FEEDB2;
$amarelo-50:#FEF8E1;
/////////////////////////
// escala neutro
$neutro-900:#1D1D1D;
$neutro-800:#3D3D3D;
$neutro-700:#5C5C5C;
$neutro-600:#6F6F6F;
$neutro-500:#989898;
$neutro-400:#B7B7B7;
$neutro-300:#DBDBDB;
$neutro-200:#EAEAEA;
$neutro-100:#FFFFFF;
// $neutro-50:
/////////////////////////
// escala semantica azul
$azul-900:#045355;
$azul-800:#00767E;
$azul-700:#008995;
$azul-600:#009EAE;
$azul-500:#00ADC0;
$azul-400:#20B9C8;
$azul-300:#48C5D1;
$azul-200:#7BD6DE;
$azul-100:#AFE6EB;
$azul-50:#DFF5F7;
/////////////////////////
// escala semantica vermelho
$vermelho-900:#B92915;
$vermelho-800:#C83422;
$vermelho-700:#D53A29;
$vermelho-600:#E7442F;
$vermelho-500:#F54D2E;
$vermelho-400:#F15B4B;
$vermelho-300:#E87870;
$vermelho-200:#F19D98;
$vermelho-100:#FFCFD1;
$vermelho-50:#FFECEE;