$cor-primaria: #4e2251;
$cor-primaria-clara: #f4e8f4;

$border: #797979;

$tag: rgba(78, 34, 81, 0.16);
$tag-texto: #4e2251;

$texto-primario: #4e2251;
$texto-legenda: #797979;
$texto-resources: #383838;

// escala neutro
$neutro-900: #1d1d1d;
$neutro-800: #3d3d3d;
$neutro-700: #5c5c5c;
$neutro-600: #6f6f6f;
$neutro-500: #989898;
$neutro-400: #a6a6a6;
$neutro-300: #b7b7b7;
$neutro-200: #dbdbdb;
$neutro-100: #eaeaea;
$neutro-50: #ffffff;

// $gy-verde: #87bc25;
// $gy-amarelo: #fde180;

// $azul: #00757e;
// $red: #f19d98;
